/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #998;
  font-style: italic;
}

.token.keyword,
.token.atrule,
.token.important,
.token.selector {
  color: #333;
  font-weight: var(--monospace-font-weight-bold);
}

.token.number,
.token.boolean,
.token.symbol,
.token.variable,
.token.key,
.token.attr-name,
.token.property {
  color: #008080;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex {
  color: #d14;
}

.token.function,
.token.class-name {
  color: #900;
  font-weight: var(--monospace-font-weight-bold);
}

.token.builtin {
  color: #0086b3;
}

.token.tag,
.token.selector-id {
  color: #000080;
}

.token.url {
  color: #009926;
}

.token.punctuation {
  color: #333;
}

.token.operator {
  color: #999;
}

.token.deleted {
  background: #fdd;
}

.token.inserted {
  background: #dfd;
}

.token.important,
.token.bold {
  font-weight: var(--monospace-font-weight-bold);
}

.token.italic {
  font-style: italic;
}
